<div class="container">
  <div class="col-md-12">
    <% @bios.each do |bio| %>
    <div class="col-xs-12 col-md-12 dividindo">
      <p class="mudatexto"><strong>BIO</strong></p>
      <div class="mudatexto" > <%= raw bio.content %></div>
    </div>
    <% end %>
  </div>
</div>