<div class="container">
	<div class="row">
	<p id="notice"><%= notice %></p>

<p class="mudatexto">
  <strong>Content:</strong>
  <%= @bio.content %>
</p>

<%= link_to 'Edit', edit_bio_path(@bio) %> |
<%= link_to 'Back', bios_path %>

</div>
</div>