
<div class="container-fixed">

  <div class="row row-centered">

    <center>
      <% @endorsees.each do |endorsee| %>

      <a href="<%= endorsee.link %>"><%= image_tag endorsee.image_url(:thumb).to_s, class: "col-md-4" %></a>


      <% end %>

    </center>

  </div>
  <br>
  <%= link_to 'New Endorsee', new_endorsee_path, class: "btn btn-primary" %>
</div>