<div class="circle-container">
	<div class = "row">
		<div class = "col-lg-4 col-lg-offset-1">
			<div class="circle-responsive">
				<div class = "circle-content"><a href="/galleries">FOTOS</a></div>
			</div>	
		</div>
		
		

		<div class = "col-lg-4 col-lg-offset-2">
			<div class="circle-responsive">
				<div class = "circle-content "><a href="/galleries">VÍDEOS</a></div>
			</div>	
		</div>

	</div>
</div>
