<div class="row">
	<div class="col-md-10" id="poscirc1">
			<%= link_to "FOTOS", galleries_path, class: "corbotoescirc btn btn-default btn-circle btn-xl",  method: :get %>
	</div>
	<div class="col-md-2" id="poscirc2">
			<%= link_to "VÃDEOS", movies_path, class: "corbotoescirc btn btn-default btn-circle btn-xl",  method: :get %>
	</div>
</div>