/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require font-awesome
 *= require_tree .
 */
 html{
   font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
 }

 body{
 	padding-top: 70px; 
  background-size:cover;
}
.container-navbar { 
	padding-left: 10%;
	width: 100%;
}

.nav a{
 color: rgb(181,222,222);
 outline: none;
 display: inline-block;
 font-weight: 700;
 text-transform: uppercase;
 font-size: 0.8em;
 letter-spacing: 1px;
 padding: 0.4em 0.9em;
 -webkit-transition: all 0.2s;
 transition: all 0.2s;
}


.circle-container{

 min-width: 768px;
 padding-top: 5%;

}


.container-navbar { 
	padding-left: 10%;
	width: 100%; }




.circle-content a{
color: #28474e;
  outline: none;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 1px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}



.circle-responsive {
  background: #b5dddd; 
  margin-left: 5em;
  border-radius: 50%;
  height: 0;
  padding-bottom: 30%;
  width: 30%;
  border: solid #28474e 5px;
}

.circle-responsive:hover {
  border: solid #a80f1a 5px;
}


.mudatexto {
  color: #ffffff !important;
  text-align: justify;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}



.ficatransparente{
  background-color: transparent !important;
}


}
.container-navbar { 
	padding-left: 10%;
	width: 100%; }
  .nav{
   font-size: 13px;

 }


.mudatexto2 {
  color: rgb(181,222,222) !important;
  text-align: justify;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

.colocaborda {
  border: 1px solid #ffffff;
}


.backmidia{
  background: url('midia.jpg')no-repeat center center fixed;
  background-size:cover;
}


.backhome{
  background: url('home.jpg') no-repeat center center fixed;
  background-size:cover;
}

.backbio{
  background: url('bio.jpg') no-repeat center center fixed;
  background-size:cover;
}

.backcont{
  background: url('contato.jpg') no-repeat center center fixed;
  background-size:cover;
}

.backagenda{
  background: url('agenda.jpg') no-repeat center center fixed;
  background-size:cover;
}

.backmusica{
  background: url('musica.jpg') no-repeat center center fixed;
  background-size:cover;
}

.backmidia{
  background: url('midia.jpg')no-repeat center center fixed;
  background-size:cover;
}

.dividindo{
  width: 600px;
  margin: 0 auto;
  border: 0px solid #FF1493;
  padding: 10px;
  -o-column-rule: 1px dotted transparent;
  column-count: 3;
  column-rule:1px dotted transparent;
  -moz-column-count:3;
  -moz-column-rule:1px dotted transparent;
  -webkit-column-count:3;
  -webkit-column-rule:1px dotted transparent;
  -o-column-count:3;
  -o-column-rule: 1px dotted transparent;
  text-align: justify;
}

