/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require font-awesome
 *= require_tree .
 */

 body{
 	padding-top: 70px; 
 	background-size:cover;
 }

 .mudatexto {
 	color: #ffffff !important;
 	text-align: justify;
 }

 .colocaborda {
 	border: 1px solid #ffffff;
 }

 .ficatransparente{
 	background-color: transparent !important;
 }

 .backhome{
 	background: url('home.jpg') no-repeat center center fixed;
 	background-size:cover;
 }

 .backbio{
 	background: url('bio.jpg') no-repeat center center fixed;
 	background-size:cover;
 }

 .backcont{
 	background: url('contato.jpg') no-repeat center center fixed;
 	background-size:cover;
 }

 .backagenda{
 	background: url('agenda.jpg') no-repeat center center fixed;
 	background-size:cover;
 }

 .backmusica{
 	background: url('musica.jpg') no-repeat center center fixed;
 	background-size:cover;
 }

 .dividindo{
 	width: 600px;

 	margin: 0 auto;

 	border: 0px solid #FF1493;

 	padding: 10px;

 	column-count:3;

 	column-rule:1px dotted transparent;

 	-moz-column-count:3;

 	-moz-column-rule:1px dotted transparent;

 	-webkit-column-count:3;

 	-webkit-column-rule:1px dotted transparent;

 	-o-column-count:3;

 	-o-column-rule:1px dotted transparent;

 	text-align: justify;
 }
