<br>
<br>
<div class="container">
  <div class="row">
    <% @musics.each do |music| %>
    <object height="18" width="100%"><td><%= raw (music.link)%></td></object>
    <br>
    <br>
    <% end %>
  </div>
</div>